<div class="row">
  <div class="col-md-6 offset-md-6">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-filter mr-1"></i> Filtrar por:
        </span>
      </div>
      <input type="text" (keyup)="listar_datos()" name='ftexto' [(ngModel)]='ftexto'
        class="form-control form-control-sm" placeholder="Ingrese valor">
      <div class="input-group-append">
        <button (click)="exportar_excel()" type="button" class="btn btn-secondary">
          <i class="fa fa-download"></i> Exportar
        </button>
      </div>
    </div>
  </div>
</div>