<titulo-seccion titulo="Listado de Servicios" subtitulo="Mantenimiento de Servicios brindados" [anterior]="true">
</titulo-seccion>

<filtro-simple [filtroareas]="true" [listado_filtros]="listado_filtros" [cant_datos]="listado_datos.length"
  (buscar_datos)="listar_datos($event)" (exportar)="exportar_excel()">
</filtro-simple>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="12.5%">Area</th>
        <th width="12.5%">Sector</th>
        <th>Nombre</th>
        <th width="10%">Vigencia (días)</th>
        <th width="10%">Sesiones</th>
        <th width="10%">Precio (S/)</th>
        <th width="7.5%" class="celda-derecha">
          <button (click)="mostrar_modal_formulario(false)" mat-mini-fab class="bg-success">
            <mat-icon>add</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado_datos">
        <td (click)="mostrar_modal_formulario(true, item)" align="center" [ngStyle]="{'background': item.color}">
          {{item.area | uppercase}}
        </td>
        <td (click)="mostrar_modal_formulario(true, item)" align="center">{{item.sector | uppercase}}</td>
        <td (click)="mostrar_modal_formulario(true, item)">{{item.nombre | uppercase}}</td>
        <td (click)="mostrar_modal_formulario(true, item)" align="center">{{item.dias_vigencia}}</td>
        <td (click)="mostrar_modal_formulario(true, item)" align="center">{{item.cant_sesiones}}</td>
        <td (click)="mostrar_modal_formulario(true, item)" align="center">{{item.precio_venta | number:'1.2-2'}}</td>
        <td align="right">
          <mat-icon (click)="mostrar_modal_formulario(true, item)" class="text-primary">edit</mat-icon>
          <mat-icon (click)="eliminar_item(item.idservicio)" class="text-danger">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--
<div class="row">
  <div class="col-md-2">
    <upload-image [url_imagen]="imgtest" (guardado)="imagen_subida($event)"></upload-image>
  </div>
</div>
-->