<titulo-seccion titulo="Clientes" subtitulo="Listado de Clientes Registrados" [anterior]="true">
</titulo-seccion>

<filtro-tabla *ngIf="_params" [confechas]="false" [listado_filtros]="listado_filtros"
  [cant_datos]="listado_datos.length" (buscar_datos)="listar_datos($event)" (exportar)="exportar_excel()">
</filtro-tabla>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="12.5%">DNI</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th width="12.5%">Contacto</th>
        <th width="7.5%" class="celda-derecha">
          <button (click)="entrar_a_item(false)" mat-mini-fab class="bg-success">
            <mat-icon>add</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado_datos">
        <td (click)="entrar_a_item(true, item)" align="center">{{item.nrodni}}</td>
        <td (click)="entrar_a_item(true, item)">{{item.nombre_completo | uppercase}}</td>
        <td (click)="entrar_a_item(true, item)">{{item.domicilio | uppercase}}</td>
        <td align="center">
          <a target="_blank" href="tel:+51{{item.celular}}">
            <img src="/assets/redes/telephone.png" height="24px" alt="">
          </a>
          <a class="mr-2 ml-2" target="_blank" href="https://api.whatsapp.com/send?phone=+51{{item.whatsapp}}">
            <img src="/assets/redes/whatsapp.png" height="24px" alt="">
          </a>
          <a target="_blank" href="https://facebook.com/{{item.facebook}}">
            <img src="/assets/redes/facebook.png" height="24px" alt="">
          </a>
        </td>
        <td align="right">
          <mat-icon (click)="entrar_a_item(true, item)" class="text-primary">edit</mat-icon>
          <mat-icon (click)="eliminar_item(item.idcliente)" class="text-danger">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>