<titulo-modal [titulo]="_titulo"></titulo-modal>

<form (ngSubmit)="validar_accion()">
  <div class='form-group'>
    <label class='control-label' for='tclave'>Clave*:</label>
    <div class="input-group mb-3">
      <input type='password' [ngClass]="{'is-invalid': tclave.invalid}" class='form-control' required
        [formControl]='tclave' name='inp_tclave' [(ngModel)]='item.clave' placeholder='Ingrese Clave'>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-key"></i>
        </span>
      </div>
    </div>
  </div>



  <button type="submit" class="btn btn-success mr-1" *ngIf="tclave.valid" [disabled]="_guardando">Guardar</button>
  <button type="button" class="btn btn-danger" (click)="cerrar_ventana(false)">Cancelar</button>
</form>