<titulo-modal [titulo]="_titulo_componente"></titulo-modal>

<form (ngSubmit)="guardar_cambios()">
  <div class="row">
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='tnrodni'>Nro. DOC*:</label>
        <input type='number' [ngClass]="{'is-invalid': tnrodni.invalid}" class='form-control' required
          [formControl]='tnrodni' name='inp_tnrodni' [(ngModel)]='item.nrodni' placeholder='Ingrese Nro. DOC'>
      </div>
    </div>
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='tcelular'>Celular*:</label>
        <input type='number' [ngClass]="{'is-invalid': tcelular.invalid}" class='form-control' required
          [formControl]='tcelular' name='inp_tcelular' [(ngModel)]='item.celular' placeholder='Ingrese Celular'>
      </div>
    </div>
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='tsexo'>Sexo*:</label>
        <select class='form-control' name='inp_tsexo' [(ngModel)]='item.sexo'>
          <option value='null' disabled selected>Seleccione Sexo</option>
          <option *ngFor='let opt of listado_sexos' [value]='opt.codigo'>{{opt.nombre | uppercase}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class='form-group'>
        <label class='control-label' for='tnombres'>Nombres*:</label>
        <input type='text' [ngClass]="{'is-invalid': tnombres.invalid}" class='form-control' required
          [formControl]='tnombres' name='inp_tnombres' [(ngModel)]='item.nombres' placeholder='Ingrese Nombres'>
      </div>
    </div>
    <div class="col-md-7">
      <div class='form-group'>
        <label class='control-label' for='tapellidos'>Apellidos*:</label>
        <input type='text' [ngClass]="{'is-invalid': tapellidos.invalid}" class='form-control' required
          [formControl]='tapellidos' name='inp_tapellidos' [(ngModel)]='item.apellidos' placeholder='Ingrese Apellidos'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='twhatsapp'>Whatsapp*:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img height="16px" src="/assets/redes/whatsapp.png" alt="">
            </span>
          </div>
          <input type='number' class='form-control' name='inp_twhatsapp' [(ngModel)]='item.whatsapp'
            placeholder='Ingrese Whatsapp'>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='tfacebook'>Facebook*:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img height="16px" src="/assets/redes/facebook.png" alt="">
            </span>
          </div>
          <input type='text' class='form-control' name='inp_tfacebook' [(ngModel)]='item.facebook'
            placeholder='Ingrese Facebook'>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class='form-group'>
        <label class='control-label' for='tinstagram'>Instagram*:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <img height="16px" src="/assets/redes/instagram.png" alt="">
            </span>
          </div>
          <input type='text' class='form-control' name='inp_tinstagram' [(ngModel)]='item.instagram'
            placeholder='Ingrese Instagram'>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" *ngIf="tnrodni.valid && tapellidos.valid && tnombres.valid && tcelular.valid"
    class="btn btn-success mr-1">Registrar</button>
  <button (click)="cerrar_ventana(null)" type="button" class="btn btn-danger">Volver</button>
</form>