<titulo-seccion titulo="Unidades de Medida" subtitulo="Mantenimiento de Unidades de Productos" [anterior]="true">
</titulo-seccion>

<filtro-texto (buscar_datos)="ftexto = $event" (exportar)="exportar_excel()">
</filtro-texto>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th width="7.5%" class="celda-derecha">
          <button (click)="mostrar_modal_formulario(false)" mat-mini-fab class="bg-success">
            <mat-icon>add</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listado_datos | filtroTexto:'nombre':ftexto">
        <td (click)="mostrar_modal_formulario(true, item)">{{item.nombre | uppercase}}</td>
        <td align="right">
          <mat-icon (click)="mostrar_modal_formulario(true, item)" class="text-primary">edit</mat-icon>
          <mat-icon (click)="eliminar_item(item.idunidad)" class="text-danger">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>